{%extends 'main.html'%}
{%load static%}

{%block fontsGoogle%} 
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
{%endblock%}

{%block bootstrap_CSS%} 
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
{%endblock%}

{%block Style%} 
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{%endblock%}


{%block script%}
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
{%endblock%}
